[Desktop Entry]
Name=Microsoft Outlook
Comment=Access Google Calendar as a web app
Exec=google-chrome-stable --app=https://outlook.office.com
Icon=/home/ryanhayden/.local/share/applications/icons/microsoft-outlook.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;